<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    
    <h1>New Animal Form</h1>

    <%# <a href='/animals'>Go Back to Animals List</a> %>

    <form action="/animals" method="post">
        <label>Species: <input type="text" name="species"></label><br><br>
        <label>Is it extinct?: <input type="checkbox" name="extinct"></label><br><br>
        <label>Location: <input type="text" name="location"></label><br><br>
        <label>Life Expectancy in years: <input type="text" name="lifeExpectancy"></label><br><br>
        
        <input type="submit" value="Add a new Animal to the list">
    </form>
</body>
</html>